<%= erb :_header %>
<article id="gets-page">
	<section id="gets">
		<h2>GETS <span>page <%=@page%></span></h2>
		<ul>
		<%@gets.each do |get|%>
			<li>
				<a class="get" href="/get/<%=get["tweet_id"]%>">
					<!-- <img class="map lazy" data-original="http://maps.googleapis.com/maps/api/staticmap?zoom=18&size=220x160&markers=icon:http://bkme.org/images/marker-06.png%7C<%=get["geolocation"]%>&sensor=true" src="/images/grey.png">
								<noscript> </noscript> -->
						<img class="map" src="http://maps.googleapis.com/maps/api/staticmap?zoom=18&size=170x190&markers=icon:<%=url_for "/", :full %>images/marker.png%7C<%=get["geolocation"]%>&sensor=true" />

					<!-- <img class="photo lazy" width="170" data-original="<%="http://img.bkme.org/#{get["filename"]}"%>" src="/images/grey.png" />
						<noscript>  </noscript>-->
						<img class="photo" src="<%="http://img.bkme.org/#{get["filename"]}"%>" />
				</a>
				<a class="user" href="/user/<%=get["user_name"]%>">
					<span class="name"><%=get["user_name"]%></span>
					<span class="get"><%=@users_hash[get["user_name"]]%></span>
				</a>
				<a class="time" href="/get/<%=get["tweet_id"]%>"><%=get["created_at"].strftime("%m/%d/%Y %I:%M%p")%></a>
			</li>
		<%end%>
		</ul>
	</section>
	<nav class="pagination">
	<%if @page > 1%><a class="newer" href="/gets/<%=@page-1%>">newer</a><%end%>
	<%if @page < @total%><a class="older" href="/gets/<%=@page+1%>">older</a><%end%>
	</nav>
</article>
<%= erb :_footer %>
